/target/
/archive/
/resources/
**/target/
**/data
**/dependency-reduced-pom.xml
/swing-wordnet/database/
/swing-fungi/database/

/resources/wordnet/xml/all.xml
/resources/wordnet/html/
/resources/wordnet/artwork/archive/
