/* WordNet */

* {
    color: black;
    font-family: sans-serif;
}

body {
    background-color: #F5F5DC;
    font-size: normal;
    padding: 0px;
}

h1 {
    font-size: x-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/******* hyperlink and anchor tag styles *******/

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/********* custom *********/

.intro {
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header {
    background-color: gray;
    color: orange;
}

.title {
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.links {
    width: 100%;
}

.link {
    visibility: visible;
}

.linkheader {
    margin-bottom: 10px;
}

.linkimage {
    margin-bottom: 10px;
}

.name {
    font-size: x-large;
    font-weight: bold;
    background-color: transparent;
    color: black;
}

.description {
    font-weight: bold;
    color: black;
    background-color: #FFcc99;
}

.features {
    margin-top: 20px;
}

.featureimage {
    margin-right: 20px;
    vertical-align: middle;
}

.type {
}

.reflexive {
}

.domain {
    background-color: #00cc99;
}

.logical {
    font-style: italic;
    margin-top: 20px;
}

.def {
    background-color: white;
    color: black;
}

.cond {
    background-color: white;
    color: gray;
}

.examples {
    margin-top: 20px;
    margin-left: 35px;
    margin-right: auto;
}

.exampletable {
    margin-left: auto;
    margin-right: auto;
}

.example {
}

.from {
    font-size: normal;
    font-family: serif;
    border-style: solid;
    border-width: 1;
    padding-right: 10;
    text-align: right;
}

.to {
    background-color: #37484A;
    color: #FFFFFF;
    font-size: normal;
    font-family: serif;
    border-style: solid;
    border-width: 1;
    padding-left: 10;
}

.gloss {
    color: gray;
    font-size: normal;
    font-style: italic;
}

.backimage {
    background-repeat: repeat;
}

.splash {
    background-repeat: no-repeat;
    background-position: center center;
}

