/antonym.html
/attribute.html
/cause.html
/derivation.html
/domain.html
/entail.html
/holonym.html
/hypernym.html
/hyponym.html
/meronym.html
/participle.html
/pertainym.html
/alsosee.html
/similar.html
/verbgroup.html
